<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mac.demo.mappers.UserMapper">

<insert id="add" parameterType="com.mac.demo.model.User">
		INSERT INTO USER_TB(
		nummac, idmac, pwmac, nicknamemac, emailmac, gendermac, birthmac, phonenummac, citymac, townmac, villagemac, managermac, namemac) VALUES(#{numMac},#{idMac},#{pwMac},#{nickNameMac},#{emailMac},#{genderMac},#{birthMac},#{phoneNumMac},#{cityMac},#{townMac},#{villageMac},#{managerMac},#{nameMac})
	</insert>

<select id="getList" resultType="com.mac.demo.model.User">SELECT * FROM user_tb </select>

<update parameterType="com.mac.demo.model.User" id="edit">UPDATE user_tb SET nameMac=#{nameMac}, birthMac=#{birthMac}, cityMac=#{cityMac}, townMac=#{townMac}, villageMac=#{villageMac},emailMac=#{emailMac}, genderMac=#{genderMac}, upwMac=#{upwMac} WHERE uidMac=#{uidMac} </update>
<delete parameterType="com.mac.demo.model.User" id="delete">DELETE FROM user_tb WHERE idMac=#{idMac} </delete>

<select parameterType="String" id="getId" resultType="String">SELECT idMac FROM user_tb WHERE idMac=#{idMac} AND pwMac=#{pwMac} </select><!-- 건든부분 -->

<select parameterType="String" id="getNickNameMac" resultType="String">SELECT nickNameMac FROM user_tb WHERE idMac=#{idMac}</select><!-- 건든부분 -->
<!-- 정보를 닉네임으로가 아닌 아이디로 가져오기 -->
<select id="getMypage" resultType="com.mac.demo.model.User">SELECT * FROM user_tb WHERE idMac=#{idMac} </select>
</mapper> 